/* 
mobile : 320-480
tab ; 600 1024
desktop : 1024 1920 (MY DEFAULT STYLE BASED ON THIS)
*/

.navbar-main-container {
  /* background-color: rgb(65, 103, 98); */
  width: 100vw;
  height: calc(100vh - 17rem);
}

.navBgContainer {
  /* width: 120vw; */
  width: calc(100vw + 20vw);
  height: calc(100vh - 17rem);

  top: -40px;
  left: -10px;
  transition: background-color .1s ease-in-out;
  transition: margin .5s ease-in-out;
  transition-delay: .2s;
}

.homeBg {
  background-color: #fadce4;
}

.aboutBg {
  background-color: #c2d6f2;
}

.openNavbar {
  margin-top: 0;
}

.closeNavbar {
  margin-top: -510px;
}


/* NAV LIST */
.listFontSize {
  font-size: 5.5rem;
}

.defaultListStyle {
  opacity: 0;
  margin-left: -30px;
}

.openNavList {
  opacity: 0;
  margin-left: -30px;
  animation: openList .5s ease-in-out forwards;
  /* transition: margin 0.3 ease; */
}

.closeNavList {
  opacity: 1;
  margin-left: 0px;
  animation: closeList .5s ease-in-out forwards;
}

.navListHover {
  padding-left: 0px;
}

.navListHover:hover {
  padding-left: 35px;
  animation-name: listHoverOpenEffect;
  animation-duration: 0.3s; 
  animation-timing-function: ease-in-out;
}

.navListContainer > .navListOpenDelay:nth-child(1) {
  animation-delay: .38s;
}

.navListContainer > .navListOpenDelay:nth-child(2) {
  animation-delay: .48s;
}

.navListContainer > .navListCloseDelay:nth-child(1) {
  animation-delay: .1s;
}

.navListContainer > .navListCloseDelay:nth-child(2) {
  animation-delay: 0s;
}

@keyframes openList {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  50% {
    opacity: 1;
    margin-left: 10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes closeList {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  30% {
    opacity: 1;
    margin-left: 10px;
  }
  80% {
    opacity: 0;
    margin-left: -30px;
  } 
  100% {
    opacity: 0;
    margin-left: -30px;
  }
}

@keyframes listHoverOpenEffect {
  0% {
    padding-left: 0px;
  }
  
  50% {
    padding-left: 40px; 
  }
  100% {
    padding-left: 35px;
  }
}
@keyframes listHoverCloseEffect {
  0% {
    padding-left: 35px;
  }
  50% {
    padding-left: -5px;
  }
  100%{
    padding-left: 0;
  }
}

/* MOBILE */
@media screen and (max-width: 480px){
  
}
/* TAB */
@media screen and (max-width: 1024px){
  
}
